.card_name {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 2px 12px;
  top: 17px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  width: fit-content;
  max-width: 300px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
}

.card_image {
  min-width: 323px;
  max-width: 323px;
  width: 100%;
  min-height: 323px;
  max-height: 323px;
  border-radius: 19px;
}

.card_image:hover {
  cursor: pointer;
}

.card_section {
  margin-top: 44px;
  color: #000;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media screen and (max-width: 595px) {
  .card {
    grid-template-columns: 1fr;
    max-width: calc(100% - 38px);
    margin: auto;
  }
  .card_image {
    max-width: 180px;
    min-width: 180px;
    max-height: 180px;
    min-height: 180px;
  }

  .card_name {
    max-width: 180px;
  }
}
@media screen and (max-width: 900px) {
  .card {
    max-width: 600px;
  }
}
