.music__section {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  row-gap: 0px;
  justify-content: flex-start;
  margin: 20px 0px 10px 50px;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 700px) {
  .music__section {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    margin: auto;
  }
}
